In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# importing df_ords

path = r"C:\Users\Noah\4.3.24_INSTACART BASKET ANALYSIS"

In [4]:
df_ords = pd.read_csv(os.path.join (path, '02 Data' , 'Original Data' , 'orders.csv' ), index_col = False)

In [5]:
# 2. check run describe function
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# min and max values seem ok- no data seems like outlier

In [6]:
# 3. checking df_ords for mixed columns

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

# no return = no mix columns

In [7]:
df_ords.shape

(3421083, 7)

In [8]:
# 5 checking for missing values

df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

# days since prior order - could be that zero days since prior order returns null value? Also could be missing. df.describe returned min values of 0 for days_since_prior_order column, so there are zero values as well as missing values, leading me to think that these should be returned as mean instead of zero.

In [9]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

# attempting to find out if previous orders have been placed when a row shows 0 for days_since_prior_order

In [10]:
# finding customers first order
value_to_find = 1

In [11]:
instances = df_ords[df_ords['order_number'] == value_to_find]

In [12]:
# is the reason for the NaN value in days_since_prior_order because it is the customers' first order?
print("Instances of value", value_to_find, "in Column1:")
print(instances)

Instances of value 1 in Column1:
         order_id  user_id eval_set  order_number  order_dow  \
0         2539329        1    prior             1          2
11        2168274        2    prior             1          2
26        1374495        3    prior             1          1
39        3343014        4    prior             1          6
45        2717275        5    prior             1          3
...           ...      ...      ...           ...        ...
3420930    969311   206205    prior             1          4
3420934   3189322   206206    prior             1          3
3421002   2166133   206207    prior             1          6
3421019   2227043   206208    prior             1          1
3421069   3154581   206209    prior             1          3

         order_hour_of_day  days_since_prior_order
0                        8                     NaN
11                      11                     NaN
26                      14                     NaN
39                      11                     NaN
45                      12                     NaN
...                    ...                     ...
3420930                 12                     NaN
3420934                 18                     NaN
3421002                 19                     NaN
3421019                 15                     NaN
3421069                 11                     NaN

[206209 rows x 7 columns]

In [13]:
# find any rows where customers have purchased prior but still have NaN value in days_since_prior_order column
value_not_in_order_no = 1
value_in_dayssince = 'NaN'

In [14]:
matching_rows = df_ords[(df_ords['order_number'] != value_not_in_order_no) & (df_ords['days_since_prior_order'] == value_in_dayssince)]

In [15]:
print("Rows where Column1 does not contain", value_not_in_order_no, "and Column2 contains", value_in_dayssince)
print(matching_rows)

Rows where Column1 does not contain 1 and Column2 contains NaN
Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

# 0 rows where order_number > 1 have an NaN value in the days_since_prior_order column.

In [16]:
matching_rows.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01