# 4.9 task work - part 1

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
path = r"C:\Users\Noah\4.3.24_INSTACART BASKET ANALYSIS"

In [4]:
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers', 'customers.csv'), index_col = False)

In [5]:
customers.head(1)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665

# wrangling

In [6]:
customers.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [7]:
# investigating missing values
customers['First Name'].value_counts(dropna = False)

First Name
NaN        11259
Marilyn     2213
Barbara     2154
Todd        2113
Jeremy      2104
           ...
Merry        197
Eugene       197
Garry        191
Ned          186
David        186
Name: count, Length: 208, dtype: int64

## renaming columns

In [8]:
customers.rename(columns = {'Surnam' : 'Surname'}, inplace = True)

In [9]:
customers.rename(columns = {'STATE' : 'State'}, inplace = True)

In [10]:
customers.rename(columns = {'n_dependants' : 'Dependents'}, inplace = True)

In [11]:
customers.head(1)

,user_id,First Name,Surname,Gender,State,Age,date_joined,Dependents,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665

### decribing the data

In [12]:
customers.describe()

             user_id            Age     Dependents         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

no glaring outliers in the describe table

In [13]:
# checking for mix type columns
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

First Name

In [14]:
# first name is a string data type - converting
customers['First Name'] = customers['First Name'].astype('str')

In [15]:
#rechecking data types for mix
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

# importing ords_prods_merge data

In [16]:
# checking data types
print(customers.dtypes)

user_id         int64
First Name     object
Surname        object
Gender         object
State          object
Age             int64
date_joined    object
Dependents      int64
fam_status     object
income          int64
dtype: object

user_id is key column, both int64

In [17]:
print(customers.value_counts)

<bound method DataFrame.value_counts of         user_id First Name   Surname  Gender           State  Age date_joined  \
0         26711    Deborah  Esquivel  Female        Missouri   48    1/1/2017
1         33890   Patricia      Hart  Female      New Mexico   36    1/1/2017
2         65803    Kenneth    Farley    Male           Idaho   35    1/1/2017
3        125935   Michelle     Hicks  Female            Iowa   40    1/1/2017
4        130797        Ann   Gilmore  Female        Maryland   26    1/1/2017
...         ...        ...       ...     ...             ...  ...         ...
206204   168073       Lisa      Case  Female  North Carolina   44    4/1/2020
206205    49635     Jeremy   Robbins    Male          Hawaii   62    4/1/2020
206206   135902      Doris  Richmond  Female        Missouri   66    4/1/2020
206207    81095       Rose   Rollins  Female      California   27    4/1/2020
206208    80148    Cynthia     Noble  Female        New York   55    4/1/2020

        Dependents fam_status  income
0                3    married  165665
1                0     single   59285
2                2    married   99568
3                0     single   42049
4                1    married   40374
...            ...        ...     ...
206204           1    married  148828
206205           3    married  168639
206206           2    married   53374
206207           1    married   99799
206208           1    married   57095

[206209 rows x 10 columns]>

# merging the data

In [18]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data', '4.8_ords_prods_merge.pkl'))

In [22]:
# merging datasets
df_merged = customers.merge(ords_prods_merge, on = 'user_id')

In [23]:
df_merged.head()

,user_id,First Name,Surname,Gender,State,Age,date_joined,Dependents,fam_status,income,...,_merge,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,spending_level,loyalty_flag_spending,median_days_since_prior,loyalty_flag_freq
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,both,Mid-range product,Busiest day,Average Orders,8,New customer,7.988889,Low_spender,19.0,Regular_customer
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,both,Mid-range product,Regularly busy,Most Orders,8,New customer,7.988889,Low_spender,19.0,Regular_customer
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,both,Mid-range product,Busiest day,Most Orders,8,New customer,7.988889,Low_spender,19.0,Regular_customer
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,both,Low-range product,Regularly busy,Average Orders,8,New customer,7.988889,Low_spender,19.0,Regular_customer
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,both,Low-range product,Least busy,Most Orders,8,New customer,7.988889,Low_spender,19.0,Regular_customer

In [24]:
df_merged['_merge'].value_counts()

_merge
both          32399732
left_only            0
right_only           0
Name: count, dtype: int64

all values are merged on both tables, data is cleaned, wrangled, and ready for export

In [28]:
# exporting data 
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.9_pt1_merged.pkl'))