# Deriving New Variables

# exercise work -->>>

In [106]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [107]:
path = r"C:\Users\Noah\4.3.24_INSTACART BASKET ANALYSIS"

In [108]:
#importing the data from pickle
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data', 'ords_prods_merge.pkl'))

In [109]:
#limiting the large dataframe
df = ords_prods_merge[:1000000]

In [110]:
#defining the new variables - low,mid,high
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [111]:
# merging the new variable
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Noah\AppData\Local\Temp\ipykernel_20620\4203361965.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [112]:
#testing the new variable
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [113]:
df['prices'].max()

24.5

In [114]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Noah\AppData\Local\Temp\ipykernel_20620\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

using .loc method to create price_range variable

In [115]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [116]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [117]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [118]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [119]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [120]:
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      412551
Name: count, dtype: int64

# busiest days and slowest days

In [121]:
ords_prods_merge['orders_day_of_the_week'].value_counts(dropna = False)

orders_day_of_the_week
0    6203329
1    5659298
6    4495887
2    4213105
5    4205076
3    3839865
4    3783172
Name: count, dtype: int64

In [122]:
# creating an empty list for finding busiest days of the week
result = []

for value in ords_prods_merge["orders_day_of_the_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [123]:
ords_prods_merge['busiest_day'] = result

In [124]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22413231
Busiest day        6203329
Least busy         3783172
Name: count, dtype: int64

# 4.7 task work ->>>

In [129]:
#2. Busiest day becomes busiest days plural.
# busiest days are 0 and 1,
result_plural = []
for value in ords_prods_merge["orders_day_of_the_week"]:
  if value == 0 or value == 1:
    result_plural.append("Busiest day")
      # slowest days plural = 3 & 4
  elif value == 3 or value == 4:
    result_plural.append("Least busy")
  else:
    result_plural.append("Regularly busy")

In [130]:
# creating new variable
ords_prods_merge['busiest_day'] = result_plural

In [131]:
#displaying new variable
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    12914068
Busiest day       11862627
Least busy         7623037
Name: count, dtype: int64

In [132]:
#testing results
6203329 +5659298 , 3839865 + 3783172

(11862627, 7623037)

3. results are consistent, busiest and slowest days added together match new variable counts

4. creating new column called busiest_period_of_day

In [133]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Mid-range product,Least busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy

In [134]:
# finding busiest period of the day
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761333
11    2735694
14    2688728
15    2661718
13    2660570
12    2618104
16    2534744
9     2453842
17    2087273
8     1717863
18    1636226
19    1258076
20     976000
7      890923
21     795528
22     634159
23     402272
6      290450
0      218742
1      115683
5       87944
2       69360
4       53232
3       51268
Name: count, dtype: int64

4. busiest hours - 10,11,14,15,13 = most orders
   slowest hours - 1,5,2,4,3 = least orders
   everything else = average orders

In [135]:
#creating new variable
result_hours = []
for value in ords_prods_merge["order_hour_of_day"]:
  if value == 10 or value == 11 or value == 14 or value == 15 or value == 13:
    result_hours.append("Most Orders")
  elif value == 1 or value == 5 or value == 2 or value == 4 or value == 3:
    result_hours.append("Least Orders")
  else:
    result_hours.append("Average Orders")

In [136]:
ords_prods_merge['busiest_period_of_day'] = result_hours

In [137]:
#5 . printing frequncy of new column
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Average Orders    18514202
Most Orders       13508043
Least Orders        377487
Name: count, dtype: int64

In [140]:
#testing results, most orders = 10+11+14+15+13
2761333 + 2735694 + 2688728 + 2661718 +  2660570

13508043

In [141]:
#testing least orders = 1,5,2,4,3
115683+ 87944 + 69360 + 53232 + 51268

377487

In [142]:
#exporting as pickle
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.7_orders_products_newvar.pkl'))